<% script_tag = javascript_include_tag("prototype", "rb_gateway", "toggle") %>
<html>
<head>
  <title></title>
  <link type="text/css" rel="stylesheet" media="screen" href="<%= resource_url('style.css') %>"/>
  <% if @script_at_top %>
    <%= script_tag %>
  <% end %>
</head>
<body id='body'>
  <img style="position: fixed; top: 0; right: 0; border: 0; width: 150px; padding: 10px; z-index: -10" src="<%= resource_url('erlang-logo.png') %>" alt="Erlang">
  <br/>
  <br/>
  <br/>
  <br/>
  <div id='debug'></div>
  <% yield %>
</body>
<!-- we put the script at the end because it messes up TextMate's html rendering, for some reason -->
<% unless @script_at_top %>
  <%= script_tag %>
<% end %>
<%= @content_for_javascript %>
<% if params[:on_complete] %>
<script language="javascript">
  try {
    setTimeout(function() { a=1 }, 1)
  } catch(e) { $('debug').update("Error" + e + " - <br/><%= e_js params[:on_complete] %>")}
</script>
<% end %>
</html>
